body {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: #c1c1cf;
}
header h1 {
  font-size: 50px;
  margin: 10px 0 7px;
}
header p {
  font-size: 15px;
  margin-bottom: 10px;
}

main {
  display: flex;
}
main h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
aside {
  width: 55%;
  display: inline-block;
  align-items: right;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 60px 30px;

  background-color: #dae6e6;
  border-left: 1px solid rgba(000, 000, 000, 0.4);
}
aside p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
aside ul {
  font-size: 15px;
  margin-top: 5px;
}
section {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #dcdce9;
  /* border: 1px solid rgba(000, 000, 000, 0.1);   */
}
nav {
  display: flex;
  padding: 20px;
  background-color: #dcdce9;
}

div img {
  width: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
div p {
  margin: 30px 10px 33px 5px;
}
article {
  padding: 20px;
}
article h3 {
  margin-bottom: 40px;
}
