body {
  width: 80%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #00060c; */
  justify-content: center;
}

header {
  text-align: center;
  background-color: #a2b9b1;
}
header h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 0 auto 0;
}
header p {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto 0;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 auto 0;
}

section {
  background-color: #7fccff;
  padding: 3px;
}
nav {
  display: grid;
  grid-template-columns: 45px auto;
  padding: 5px;
}
img {
  width: 25px;
  display: flex;
  margin-top: 13px;
}

.conteiner-direito {
  background-color: #f2fdfd;
 
  padding: 5px 40px 5px;
}
.conteiner-esquerdo {
  background-color: #f2fdfd;
  padding: 5px 40px 5px;
}

.conteiner-direito li,
ul {
  padding: 0px 0;
}
.conteiner-esquerdo li,
ul {
  padding: 0px 0 0 0;
}

.grid-wrapper {
  min-height: 100%;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-wrapper {
  display: grid;
  grid-template-rows: (2, auto);
  grid-template-columns: (1, 1fr);
}
header {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}
.conteiner-direito {
  grid-template-columns: 1 / 1;
}
.conteiner-esquerdo {
  grid-template-columns: 2 / -1;
}

/* ======================================= */

@media print {
  body {
    width: 100%; /* Use a largura total da página ao imprimir */
  }
  header {
    margin: 5px 0 0 0;; /* Não imprima o cabeçalho */
  }
  .conteiner-direito,
  .conteiner-esquerdo {
    width: 50%; /* Divide o espaço em duas colunas */
    float: left; /* Garante que cada contêiner fique em uma coluna separada */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
  }

  /* Limpeza de floats para evitar problemas de layout */
  .conteiner-direito::after,
  .conteiner-esquerdo::after {
    content: "";
    display: table;
    clear: both;
  }
  #fim{
    padding-bottom: 83px;
  }
  h3{
     font-size: 15px;
     margin: 0px 0 0px 0;
     padding: 0px 0 0 0;
  }


}

