body {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: #c1c1cf;
}
header h1 {
  font-size: 50px;
  text-align: center;
  margin: 10px 0 7px;
}
#jobInformation {
  font-size: 15px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(242, 247, 241);
}

main {
  display: flex;
}
main h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
aside {
  width: 65%;
  display: inline-block;
  align-items: right;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 30px;

  background-color: #dae6e6;
  border-left: 1px solid rgba(000, 000, 000, 0.4);
}
aside p {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
aside ul {
  font-size: 15px;
  margin-top: 5px;
}
section {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #dcdce9;
  /* border: 1px solid rgba(000, 000, 000, 0.1);   */
}
nav {
  display: flex;
  padding: 20px;
  background-color: #dcdce9;
}

#conteiner-img {
  width: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
#conteiner-img,
img {
  margin-bottom: 5px;
}
#conteiner-contatos {
  margin-bottom: 5px;
}
#conteiner-contatos p {
  margin: 20px 10px 33px 10px;
}
article {
  padding: 5px;
}
article h3 {
  margin-bottom: 20px;
}

@media print {
  main {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 10px;
    background-color: #fff; /* Cor de fundo branca */
    color: #000; /* Cor do texto preta */
  }
  /* header h1 {
  font-size: 50px;
  text-align: center;
  margin: 10px 0 7px;
  
} */
}
